<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNzBwzpoy9Y6ZOCH7ZDTtVkldqVUFr8Us</string>
	<key>GCM_SENDER_ID</key>
	<string>191729698183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.belajarFirebase</string>
	<key>PROJECT_ID</key>
	<string>belajar-firebase-e84ae</string>
	<key>STORAGE_BUCKET</key>
	<string>belajar-firebase-e84ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191729698183:ios:b0881eb799dfb239bbff22</string>
</dict>
</plist>